<!-- main content at the start mode of the app -->
<section class="container-fluid">
	<div class="row">
	  <div class="col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	    	<div class="caption">
	      	<img class="fifty_img" ng-src="{{properties[0].media[0].source}}" ng-click="showSingleProp(properties[0].base_post.slug);">
	        <h3 class="inline_block">{{properties[0].base_post.title}}</h3>
	        <p ng-bind-html="properties[0].base_post.excerpt"></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <p ng-bind-html="properties[1].base_post.excerpt"></p>
	        <img class="fifty_img" ng-src="{{properties[1].media[0].source}}" ng-click="showSingleProp(properties[1].base_post.slug);">
	        <h3 class="inline_block">{{properties[1].base_post.title}}</h3>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-12 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <div class="caption">
	      	<img class="hundred_img" ng-src="{{pages[0].media[0].source}}">
	        <h3 class="inline_block">{{pages[0].base_page.title}}
	        </h3>
	        <p ng-bind-html="pages[0].base_page.excerpt">
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	    	<div class="caption">
	      	<img class="fifty_img" ng-src="{{properties[2].media[0].source}}" ng-click="showSingleProp(properties[2].base_post.slug);">
	        <h3 class="inline_block">{{properties[2].base_post.title}}</h3>
	        <p ng-bind-html="properties[2].base_post.excerpt"></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <div class="caption">
	       <p ng-bind-html="properties[3].base_post.excerpt"></p>
	        <img class="fifty_img" ng-src="{{properties[3].media[0].source}}" ng-click="showSingleProp(properties[3].base_post.slug);">
	        <h3 class="inline_block">{{properties[3].base_post.title}}</h3>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-12 col-md-4 col-lg-4">
	    <div class="thumbnail">
	      <div class="caption">
	      	<img class="hundred_img" ng-src="{{pages[1].media[0].source}}">
	        <h3 class="inline_block">{{pages[1].base_page.title}}
	        </h3>
	        <p ng-bind-html="pages[1].base_page.excerpt">
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
  <!-- 
    here we output the html that we have told Angular to trust
    using $sce.trustAsHtml. We cannot use {{}} for HTML strings 
  -->
  <div class="row" ng-bind-html="trustedHtml"></div>
</section>