<!-- creating content for the menu -->
<!-- using ng-class to add classes conditionally -->
<li ng-repeat="link in menuLinks" ng-class="{true: 'dropdown', false:''}[link.children.length > 0]">
  <!-- a with right goTo inparameter and text -->
  <a href="" ng-click="goTo('pages/'+link.url)">{{link.title}}</a>
  <!-- ul that if it has children run this file again recurcively  -->
  <ul class="dropdown-menu" ng-if="link.children.length > 0" ng-include="partialDir+'views/menuRecurse.html'" ng-init="menuLinks = link.children">
  </ul>
</li>