<section class="container">
<h3>Search results</h3>
	<div class="row">
	  <div class="col-sm-4 col-md-3 col-lg-3">	    
    </div>
    	<div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="property in properties">
			<div class="thumbnail">
	    		<img ng-src="{{property.media[0].source}}" class="hundred_img">
    		</div>
			<p>{{property.base_post.title}}</p>
	    	<p>Pris: {{property.facts.asking_price}}</p>
	    	<p>Driftskostnad: {{property.facts.running_costs}}</p>
	    	<p>Yta: {{property.facts.area}}</p>
	    	<p><!-- {{property.base_post.excerpt}} --></p>
	    	<hr>
		</div>
<!-- Filterbox
			<div class="col-sm-4 col-md-3 col-lg-3 filterbox">
  		<h3>Filterbox</h3>
	    <form role="form">
		    <div class="checkbox">
		      <label><input type="checkbox" value="">Option 1</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" value="">Option 2</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" value="">Option 3</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" value="">Option 4</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" value="">Option 5</label>
		    </div>
		  </form>
		</div>
						-->

  </div>
  

  <!-- 
    here we output the html that we have told Angular to trust
    using $sce.trustAsHtml. We cannot use {{}} for HTML strings 
  -->
  <div class="row" ng-bind-html="trustedHtml"></div>
</section>