<!-- shows inside of <main> when searchresults table is showed -->
<section class="container-fluid">
  <div class="row">
  	<div class="col-sm-12">
      <div class="col-sm-12 col-md-12 col-lg-12 filterbox panel panel-default">
  			<div class="panel-body">
			    <form role="form" class="form-horizontal">
			    	<div class="form-group">
			    		<div class="row">
			    			
			    				
			    				<div class="col-sm-2">
					    			<p>Filtrera resultat </p>
					    		</div>

					    		<div class="col-sm-2">
							    	<input id="apartment" type="checkbox" ng-model="propFilters.type['lägenhet']" value="1">
						    		<label for="apartment" class="filt_label">Lägenhet </label>
						    	</div>

						    	<div class="col-sm-2">
						    		<input id="villa" type="checkbox" ng-model="propFilters.type.hus" value="1">
						    		<label for="villa" class="filt_label">Villa </label>
						    	</div>
			    	
						    	<div class="col-sm-2">
						    		<input id="farm"  type="checkbox" ng-model="propFilters.type['gård']" value="1">
						    		<label for="farm" class="filt_label">Gård </label>
						    	</div>

						    	<div class="col-sm-2">
						    		<input id="plot" type="checkbox" ng-model="propFilters.type.tomt" value="1">
						    		<label for="plot" class="filt_label">Tomt </label>
							    </div>

							    <div class="col-sm-2">
							    	<button class="btn btn-default pull-right" ng-click="resetFilter()">Nollställ filter</button>
						   		</div>
				    	</div>

				    	<div class="row">
					    	<div class="col-sm-4">
	      					<input placeholder="Ort" class="form-control" type="text" value="" ng-model="citySearch.facts.city">
	      				</div>

	      				<div class="col-sm-4">
	      					<input placeholder="Pris från.." class="form-control" type="number" value="" ng-model="propFilters.priceRange[0]">
	      				</div>
	      		
	      				<div class="col-sm-4">
	      					<input placeholder="till" class="form-control" type="number" value="" ng-model="propFilters.priceRange[1]">
	      				</div>
	      			</div>

    				</div>
					</form>
				</div>

			</div>
    </div>

    <!-- end filter -->

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 resultRow" ng-repeat="property in properties | filter:citySearch | type: propFilters.type | price: propFilters.priceRange">
            <div class="thumbnail col-sm-6 col-md-6 col-lg-4">
	      		<img ng-click="showSingleProp(property.base_post.slug);" ng-src="{{property.media[0].source}}" class="hundred_img img-responsive">
      		</div>
      		<div class="col-sm-6 col-md-6 col-lg-4">
				<p>{{property.base_post.title}}</p>
			    <p>Pris: {{property.facts.asking_price}} kr</p>
			    <p>Driftskostnad: {{property.facts.running_costs}} kr/månad.</p>
			    <p>Yta: {{property.facts.area}} kvadratmeter</p>
			    <p>Stad: {{property.facts.city}}</p>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4" ng-bind-html="property.base_post.excerpt">
		    </div>
        </div>
      </div>
    </div>
  </div>
</section>
