<!-- shows inside of <main> when searchresults table is showed -->
<section class="container-fluid">
  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filterbox panel panel-default">
  			<div class="panel-body">
			    <form role="form" class="form-horizontal">
			    	<div class="form-group filt_form_group">
			    		<div class="row">
		    				

				    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				    			<ul class="filt_list">
				    				<li>
								    	<input id="apartment" type="checkbox" ng-model="propFilters.type['lägenhet']" value="1">
							    		<label for="apartment" class="filt_label">Lägenhet </label>
							    	</li>

							    	<li>
							    		<input id="villa" type="checkbox" ng-model="propFilters.type.hus" value="1">
							    		<label for="villa" class="filt_label">Villa </label>
							    	</li>
				    	
							    	<li>
							    		<input id="farm"  type="checkbox" ng-model="propFilters.type['gård']" value="1">
							    		<label for="farm" class="filt_label">Gård </label>
							    	</li>

							   		<li>
							    		<input id="plot" type="checkbox" ng-model="propFilters.type.tomt" value="1">
							    		<label for="plot" class="filt_label">Tomt </label>
							    	</li>

						    	</ul>
						    </div>

						    
				    	</div>
				    </div>
				    <div class="form-group filt_form_group">
				    	<div class="row">
					    	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
	      					<input placeholder="Alla orter" class="form-control filt_field" type="text" value="" ng-model="citySearch.facts.city">
	      				</div>

	      				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
	      					<input placeholder="Minsta pris" class="form-control filt_field" type="number" value="" ng-model="propFilters.priceRange[0]">
	      				</div>
	      		
	      				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
	      					<input placeholder="Högsta pris" class="form-control filt_field" type="number" value="" ng-model="propFilters.priceRange[1]">
	      				</div>
	      				<div class="col-xs-12 col-sm-2 col-md-3 col-lg-5">
						    	<button class="btn btn-default pull-right" ng-click="resetFilter()">Återställ</button>
					   		</div>
	      			</div>
	      		</div>
    			</div>
				</form>
			</div>
		</div>
  </div>

    <!-- end filter -->

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 resultRow" ng-repeat="property in properties | filter:citySearch | type: propFilters.type | price: propFilters.priceRange">
          <div class="thumbnail col-sm-6 col-md-6 col-lg-6 obj_thumbnail">
	      		<img ng-click="showSingleProp(property.base_post.slug);" ng-src="{{property.media[0].source}}" class="hundred_img img-responsive">
      		</div>
      		<div class="col-sm-6 col-md-6 col-lg-6">
						<p class="lead">{{property.base_post.title}}</p>
				    <p class="obj_prop">Pris: {{property.facts.asking_price}} kr</p>
				    <p class="obj_prop">Driftskostnad: {{property.facts.running_costs}} kr/månad.</p>
				    <p class="obj_prop">Yta: {{property.facts.area}} kvadratmeter</p>
				    <p class="obj_prop">Stad: {{property.facts.city}}</p>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-6 obj_desc" ng-bind-html="property.base_post.excerpt">
		    	</div>
        </div>
      </div>
    </div>
  </div>
</section>
