<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12 singleprop_img_div">
			<img class="big_image img-responsive" ng-src="{{properties[0].media[0].source}}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 buffer2">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 middle8" >
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 inner8">
					<h3>{{properties[0].base_post.title}}</h3>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4 inner4">
					<h3 class="pull-right">Snabbfakta</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 inner8" ng-bind-html="properties[0].base_post.content">
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4 inner4">
					<p>Typ av objekt: {{properties[0].facts.type_of_object}}</p>
					<p>Adress: {{properties[0].facts.adress}}</p>
					<p>Stad: {{properties[0].facts.city}}</p>
				    <p>Kommun: {{properties[0].facts.municipality}}</p>
					<p>Utgångspris: {{properties[0].facts.asking_price}} kr.</p>
				    <p>Driftskostnad: {{properties[0].facts.running_costs}} kr/mån.</p>
				    <p>Yta: {{properties[0].facts.area}} kvadratmeter.</p>
				    <p>Biarea: {{properties[0].facts.biarea}}</p>
				    <p>Antal rum: {{properties[0].facts.rooms}}</p>
				    <p>Byggår: {{properties[0].facts.building_year}}</p>
				</div>
			</div>
		</div>
		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 buffer2">
		</div>
	</div>
	<!--Here maybe we want to ng-repeat all pictures belonging to a property -->
	<div class="row">
		<div ng-repeat="picture in properties[0].media" class="col-xs-12 col-md-12 col-lg-12 singleprop_img_div">
			<img class="big_image img-responsive" ng-src="{{picture.source}}">
		</div>
	</div>
  <!-- 
    here we output the html that we have told Angular to trust
    using $sce.trustAsHtml. We cannot use {{}} for HTML strings 
  -->
  <div class="row" ng-bind-html="trustedHtml"></div>
</section>